<section id="featured">
  <div id="main-slider" class="flexslider">
      <ul class="slides">
        <li>
          <img src="assets/welcome/slides/1.jpg" alt="", style="width: 1440px;height: 520px;" />
          <div class="flex-caption">
             <div class="item_introtext"> 
		<strong>Elegance</strong>
		<p>Go through our website for more</p> </div>
          </div>
        </li>
        <li>
          <img src="assets/welcome/slides/2.jpg" alt="", style="width: 1440px;height: 520px;" />
          <div class="flex-caption">
               <div class="item_introtext"> 
		<strong>Bootstrap</strong>
		<p>Go through our website for more</p> </div>
          </div>
        </li>
        <li>
          <img src="assets/welcome/slides/3.jpg" alt="", style="width: 1440px;height: 520px;" />
          <div class="flex-caption">
               <div class="item_introtext"> 
		<strong>Responsiveness</strong>
		<p>Go through our website for more</p> </div>
          </div>
        </li>
      </ul>
  </div>
</section>
