<section id="featured">
  <div id="main-slider" class="flexslider">
      <ul class="slides">
        <li>
          <%= image_tag "welcome/slides/1.jpg", alt: "" %>
          <div class="flex-caption">
             <div class="item_introtext"> 
		<strong>Mushroom Spawn & Mushroom Production</strong>
		<p>We Mainly in Mushroom Spawn creation and Mashroom Farming.</p> </div>
          </div>
        </li>
        <li>  
          <%= image_tag "welcome/slides/2.jpg", alt: "" %>
          <div class="flex-caption">
               <div class="item_introtext"> 
		<strong>Mushroom Cultures & Farming </strong>
		<p>Mushroom Cultivation & Differnt type Mushroom Sales. </p> </div>
          </div>
        </li>
        <li>
          <%= image_tag "welcome/slides/3.jpg", alt: "" %>
          <div class="flex-caption">
               <div class="item_introtext"> 
		<strong>Pure Mushroom Spawn & Cultures</strong>
		<p>10 Types of Mushroom spawn production and Sale</p> </div>
          </div>
        </li>
      </ul>
  </div>
</section>
